.button {
    padding: 10px;
    background-color: #eee;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(74, 147, 173);
    color: blue;
    transition: .4s all;
    width: 70px;
}

.button:hover {
    transform: scale(1.1);
}

