.filmes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filmes h2 {
    margin-bottom: 20px;
    font-size: 23px;
    color: blue;
}
.filmes-lista {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: wrap;
}

.filmes-lista img {
    width: 30%;
}


.filme-destaque .filme-item {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filme-destaque img {
    width: 30%;
}