.form .form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input input {
    margin-left: 10px;
    border: 1px solid black;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
}

.form-input label {
    margin: 10px;
    font-size: 12px;
    outline: none;
    color:#000;
}
